.kifuforjs{
	width: 570px;
    display: flex;
	flex-direction: column;
}

.kifuforjs-columns {
	display: flex;
	align-items: stretch;
}
.kifuforjs-column {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
}

.kifuforjs-info {
	overflow-y: scroll;
	font-size: small;
	margin-bottom: 2px;
}
.kifuforjs-info dl{
	margin-top:0;
	margin-bottom:0;
	text-align:left;
}
.kifuforjs-info dt {
	font-weight: bold;
	clear: both;
	float : left;
	margin-right: 3px;
	background-color: #eee;
}
.kifuforjs-info dd {
	margin-left:20px;
}

.kifuforjs-kifulist {
	font-size:12px;
	overflow: auto;
	flex-grow: 1;
}
.kifuforjs-leftcontrol {
	display: flex;
	flex-direction: column;
	margin-top: 1px;
}
.kifuforjs-leftcontrol > * {
	margin-top: 1px;
}
.kifuforjs-board {
	margin: 2px;
	border-collapse: collapse;
}
.kifuforjs-board th {
	white-space:nowrap;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}
.kifuforjs-cell {
	border: 1px #000000 solid;
	background-color:#FDD775;
	padding:0px;
}
.kifuforjs-cell,
.kifuforjs-cell img,
.kifuforjs-pieceinhand img,
.kifuforjs-pieceinhand,
.kifuforjs .dragPreview{
	padding: 0;
	border-spacing:0;
	width:32px;
	height:36px;
	vertical-align:middle;
}
.kifuforjs .dragPreview{
    z-index: 100;
}
.kifuforjs-cell--lastto {
	background-color: #FF9900;
}
/*.kifuforjs-cell--lastfrom{background-color: #FFCC00;}
.kifuforjs-cell--movable{background-color: #AAAAFF;}*/
.kifuforjs-halfofcolumn {
    flex: 1 1 0;
	display: flex;
	flex-direction: column;
}
.kifuforjs-hand-body {
    flex: 100%;
	background-color: #eee;
}
.kifuforjs-pieceinhand {
	display: none;
	position: relative;
}

.kifuforjs-pieceinhand div {
	display: inline-block;
}
.kifuforjs-pieceinhand--multipleFu {
	display: inline-block;
	width: 100%;
}
.kifuforjs-pieceinhand--multiple {
	display: inline-block;
	width: 50%;
}
.kifuforjs-hand-head {
	flex: 0;
	text-align: center;background-color: silver;
}

.kifuforjs-control {
	display: flex;
	justify-content: center;
	margin: 2px 0;
}
.kifuforjs-control button, .kifuforjs-control input {
	height: 30px;
	width: 55px;
	font-size: 18px;
	text-align: center;
	vertical-align: bottom;
}
.kifuforjs .tools button{
	font-size: 15px;
}
.kifuforjs-comment {
	color: black;
}
