.kifuforjs{
	width: 570px;
}
.kifuforjs .inlineblock{
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
.kifuforjs .mochi.info{
	overflow: scroll;
	font-size: small;
}
.kifuforjs .mochi.info dl{
	margin-top:0;
	margin-bottom:0;
	text-align:left;
}
.kifuforjs .mochi.info dl dt{
	font-weight: bold;
	clear: both;
	float : left;
	margin-right: 3px;
	background-color: #eee;
}
.kifuforjs .mochi.info dl dd{
	margin-left:20px;
}

.kifuforjs div.players select.kifulist{
	font-size:12px;
	width:100%;
	height:70%;
	overflow: scroll;
/*	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;*/
}
.kifuforjs div.players.withfork select.kifulist{
	height: 60%;
}
.kifuforjs div.players li.fork{
	display: none;
}
.kifuforjs div.players.withfork li.fork{
	display: block;
}
.kifuforjs ul.lines{
	margin: 0px;
	padding-left: 0;
	padding-top: 2px;
	list-style:none;
}
.kifuforjs ul.lines li{
	padding: 1px;
}
.kifuforjs ul.lines button, .kifuforjs ul.lines select{
	width: 100%;
	height: 12%;
	padding: 1px;
}
.kifuforjs table.ban{border-collapse: collapse;}
.kifuforjs table.ban th{
	white-space:nowrap;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}
.kifuforjs table.ban td{
	border: 1px #000000 solid;
	background-color:#FDD775;
	padding:0px;
}
.kifuforjs table.ban td, .kifuforjs table.ban td img, .kifuforjs div.mochimain span.mochigoma img, .kifuforjs div.mochi div.mochimain span.mochigoma{
	padding: 0;
	border-spacing:0;
	width:32px;
	height:36px;
	vertical-align:middle;
}
.kifuforjs table.ban td.lastto{background-color: #FF9900;}
.kifuforjs table.ban td.lastfrom{background-color: #FFCC00;}
.kifuforjs table.ban td.movable{background-color: #AAAAFF;}
.kifuforjs div.mochi{
	height:180px;width:120px;
}
.kifuforjs div.mochi div.mochimain{
	width:100%;
	height:156px;
	margin-bottom:0;
	margin-top:auto;
	background-color: #eee;
}
.kifuforjs div.mochi div.mochimain span.mochigoma{
	position: relative;
	display: inline-block;
}
.kifuforjs div.mochi div.mochimain span.mochigoma{
	display: none;
	position: relative;
}
.kifuforjs div.mochi div.mochimain span.mochigoma.fu{
	display: inline-block;
	width: 120px;
}
.kifuforjs div.mochi div.mochimain span.mochigoma.fu-else{
	display: inline-block;
	width: 60px;
}
.kifuforjs div.players{
	height:100%;width:120px;
}
.kifuforjs div.players div.mochi div.tebanname{
	text-align: center;background-color: silver;
	margin-bottom:0;margin-top:auto;width:100%;
}
.kifuforjs div.players div.mochi.teban{
	background-color: #ddd;
}
.kifuforjs div.players div.mochi.teban div.tebanname{
	text-align: center;background-color: blue; color:white;
}
.kifuforjs div.players div.mochi.teban div.tebanname a{
	color:white;
}

.kifuforjs ul.inline{
	display:inline;
	padding-left: 0;
}
.kifuforjs ul.inline li{
	display:inline;
}
.kifuforjs ul.inline button, .kifuforjs ul.inline input{
	height: 30px;
	width: 55px;
	font-size: 18px;
	text-align: center;
	vertical-align: bottom;
}
.kifuforjs ul.inline.tools button{
	font-size: 15px;
}
.kifuforjs textarea{
	color: black;
	width: 100%;
}
